# .dockerignore
.git
.gitignore
.dockerignore
Dockerfile
README.md
venv
env
.venv
.env
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
htmlcov
coverage.xml
report.html
acceptance_coverage.xml
.vscode
*.md
sonar-project.properties
pytest.ini
node_modules/
dist/
coverage/
test.db
